# IMAL
jIMAP_HOST="imap.gmail.com"
IMAP_USERNAME="imap_username"
IMAP_PASSWORD="imap_password"

# LLM
LLM_MODE='tool_call' # Use 'json_schema_mode' with Gemini models
LLM_MODEL=gemini/gemini-2.5-flash
LLM_TEMPERATURE=0.25
